* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: text;
}

#togglePassword {
  cursor: pointer;
}

#logo {
  width: 10vw; /* Ajusta o tamanho do logo com base na largura da tela */
 
}

@media (max-width: 576px) {
  #logo {

    max-width: 120px; /* Limite máximo de tamanho */
  }
}

/* Para telas entre 576px e 768px (md) */
@media (min-width: 576px) and (max-width: 768px) {
  #logo {
    width: 15vw; /* O logo ocupará 40% da largura da tela */
    max-width: 130px; /* Limite máximo de tamanho */
  }
}




#pattern {
  width: 260%;
  aspect-ratio: 16 / 9; /* Proporção 16:9 */
  object-fit: cover;
}


@media print {
  .container {
width: 100%;
max-width: none;
padding: 0;
margin: 0;
box-shadow: none; 
} }